.News{
    background-color: #f4f4f4;
    border-radius: 10px;
    padding:30px 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.NewsPhoto{
    width: 100%;
    height: 200px;
    
}
.BlockForNews{
    background-color: darkgoldenrod;
    width: 350px;
    padding: 20px 20px 20px 20px ;
    border-radius: 20px;
}


.TitleForNews{
    font-size: 25px;
}

.TextForNews{
    padding:10px;
    font-size: 15px;
    width: 100%;
}